@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

$colorPrimary: #338b85;
$colorHover: #005954;
$colorBorder: #26292D;
$colorGrey: #A0A0A1;
$colorText1: #000000;
$colorText2: #ffffff;

// Resto de los estilos globales
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}